body {
    background-image: url("bruna.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
    max-width: 80%;
}

.container {
    background: #ede0d4;
    color: black;
    max-width: 60%;
    margin: auto;
    border: 3px solid black;
    border-radius: 30px;
    text-shadow: 0px 0px 1px red;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 20px;
   
}

#increment-btn {
    background: #086375;
}

#save-btn {
    background: #6e1f82;
}

